- content_for :sidebar do
  %ul.nav.nav-sidebar{ 'ng-controller' => 'LanguagesCtrl', 'ng-init' => "setLanguages(#{@languages.to_json})" }
    %li{ 'ng-repeat' => "language in languages"}
      %a{'ng-click' => "viewLanguageChannels(language)"} {{language.name}}
      %ul{ 'ng-controller' => 'ChannelsCtrl', 'ng-show' => "selected_language && language.id == selected_language.id" }
        %li{'ng-repeat' => "channel in language.channels", 'ng-class' => '{active: selected_channel && selected_channel.id == channel.id}'}
          %a{'ng-click' => 'selectChannel(channel)'} {{channel.name}}

%ul.nav.nav-tabs{'ng-controller' => 'ChannelsCtrl'}
  %li{'ng-repeat' => 'channel in active_channels', 'ng-class' => '{active: selected_channel && selected_channel.id == channel.id}'}
    %a{'data-toggle' => 'tab', 'ng-click' => 'selectChannel(channel)'}
      {{channel.name}}
      %span.glyphicon.glyphicon-remove-circle{'ng-if' => 'channel.id != -1', 'ng-click' => 'removeChannel($index)'}

%ul.thumbnails{ 'ng-controller' => 'ChannelsCtrl' }
  %li.span2{ 'ng-repeat' => "user in selected_channel.users"}
    %a.thumbnail{ href: "javascript:;"}
      %img{src: 'assets/profile.png'}
      %h3 {{user.username}}
